.bg-me {
    background: url("../img/Me.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 300ms ease 0s;
    width: 100%;
    z-index: 0;
}